<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
    <div class="container">
        <div id="login" v-if="page=='login'">
            <h3>Login</h3>
            <form action="/login" method="POST">
                <span>Username</span>
                <input type="text" name="username">
                <br>
                <span>Password</span>
                <input type="text" name="password">
                <br>
                <input type="submit">
            </form>
            <br>
            <i @click="page='register'">Click <b>Here</b> to Register</i>
        </div>
        <div id="register" v-if="page != 'login'">
            <h3>Register</h3>
            <form action="/register" method="POST">
                <span>Username</span>
                <input type="text" name="username">
                <br>
                <span>Password</span>
                <input type="text" name="password">
                <br>
                <span>Retype password</span>
                <input type="text">
                <br>
                <span>Full Name</span>
                <input type="text" name="fullname">
                <br>
                <input type="submit">
            </form>
            <br>
            <i @click="page='login'">Click <b>Here</b> to Register</i>
        </div>
        <hr>
        <u> {{ data['msg'] }} </u>
    </div>

    <script>
        app = new Vue({
            el: ".container",
            data: {
                page: "login"
            },
            delimiters: [ '[[',']]' ]
        })
    </script>
</body>
</html>