{% extends 'base-dashboard.html' %}

<!-- Set Title -->
{% block title %} Soal Bab 1 {% endblock %}
<!-- /Set Title -->


{% block content %}
    <!-- Main content -->
    <section class="content">
      <!-- Main row -->
      <div class="row">
        <!-- Left col -->
        <section class="col-lg-12">
          <!-- Custom tabs (Charts with tabs)-->
          <div class="nav-tabs-custom">
            <!-- Tabs within a box -->
            <ul class="nav nav-tabs pull-right">
              <li class="active"><a href="#revenue-chart" data-toggle="tab">Soal Bab 1</a></li>
              <li class="pull-left header"><i class="fa fa-inbox"></i> Latihan</li>
            </ul>
            <div class="tab-content no-padding">

            <h1>Review</h1>
            
            <h3>Nilai: {{ data['nilai'] }}</h3>
            
            <table class="table table-bordered table-hover table-striped">
              <tr>
                <th width="700px">Soal</th>
                <th>Jawaban yang benar</th>
                <th>Jawaban anda</th>
              </tr>
            
              {% for row in data['review'] %}
              <tr>
                <td>{{ row['soal'] }}</td>
                <td style="background-color:limegreen">{{ row['dbAns'] }}</td>
                <td style="background-color:firebrick;color:white">{{ row['yourAns'] }}</td>
              </tr>
              {% endfor %}
            
            </table>

            </div>
          </div>
          <!-- /.nav-tabs-custom -->
          
        </section>
        <!-- /.Left col -->
      </div>
      <!-- /.row (main row) -->

    </section>
    <!-- /.content -->

{% endblock %}