{% extends 'base-dashboard.html' %}

<!-- Set Title -->
{% block title %} Dashboard {% endblock %}
<!-- /Set Title -->


{% block content %}
    <!-- Main content -->
    <section class="content">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>150 </h3>

              <p>New Orders</p>
            </div>
            <div class="icon">
              <i class="ion ion-bag"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <h3>53<sup style="font-size: 20px">%</sup></h3>

              <p>Bounce Rate</p>
            </div>
            <div class="icon">
              <i class="ion ion-stats-bars"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-yellow">
            <div class="inner">
              <h3>44</h3>

              <p>User Registrations</p>
            </div>
            <div class="icon">
              <i class="ion ion-person-add"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-red">
            <div class="inner">
              <h3>65</h3>

              <p>Unique Visitors</p>
            </div>
            <div class="icon">
              <i class="ion ion-pie-graph"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
      </div>
      <!-- /.row -->
      <!-- Main row -->
      <div class="row">
        <!-- Left col -->
        <section class="col-lg-7">
          <!-- Custom tabs (Charts with tabs)-->
          <div class="nav-tabs-custom">
            <!-- Tabs within a box -->
            <ul class="nav nav-tabs pull-right">
              <li class="active"><a href="#waitingVerification" data-toggle="tab">Pembayaran menunggu verifikasi</a></li>
              <!-- <li><a href="#sales-chart" data-toggle="tab">Donut</a></li> -->
              <li class="pull-left header"><i class="fa fa-inbox"></i> Monitor</li>
            </ul>
            <div class="tab-content no-padding">
              <!-- Morris chart - Sales -->
              <div class="chart tab-pane active" id="waitingVerification" style="position: relative; height: 300px;">

                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Username</th>
                      <th>Module</th>
                      <th>Bukti Pembayaran</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for item in data['paymentlist'] %}
                    <tr>
                      <td>{{ item['username'] }}</td>
                      <td>{{ item['module'] }}</td>
                      <td> <a target="_blank" href="/static/uploads/{{ item['payment'] }}"> {{ item['payment'] }} </a> </td>
                      <td> <a href="/verified?id={{ item['no'] }}"> <button type="button" class="btn btn-success">Verified</button> </a></td>
                    </tr>
                  </tbody>
                  {% endfor %}
                </table>

              </div>

              <div class="chart tab-pane" id="sales-chart" style="position: relative; height: 300px;">
              
              </div>
            </div>
          </div>
          <!-- /.nav-tabs-custom -->
        </section>

        
        <!-- /.Left col -->
        <!-- right col (We are only adding the ID to make the widgets sortable)-->
        <section class="col-lg-5">

          <!-- Map box -->
          <div class="box box-solid">
            <div class="box-body">
              <div class="nav-tabs-custom">
                <!-- Tabs within a box -->
                <ul class="nav nav-tabs pull-right">
                  <li><a href="#admins-table" data-toggle="tab">Admins</a></li>
                  <li class="active"><a href="#users-table" data-toggle="tab">Users</a></li>
                  <li class="pull-left header"><i class="fa fa-inbox"></i> Account</li>
                </ul>
                <div class="tab-content no-padding">
                  <!-- Morris chart - Sales -->
                  <div class="chart tab-pane" id="admins-table">
                    
                    <table class="table table-bordered" id="paymentdata">
                      <thead>
                        <tr>
                          <th>No</th>
                          <th>Username</th>
                          <th>Fullname</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for item in data['adminlist'] %}
                        <tr>
                          <td> {{ loop.index}}</td>
                          <td> {{ item['username'] }}</td>
                          <td> {{ item['fullname'] }}</td>
                          <td> {{ item['userid'] }}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>

                  </div>
                  <div class="chart tab-pane active" id="users-table">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>No</th>
                          <th>Username</th>
                          <th>Fullname</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for item in data['userlist'] %}
                        <tr>
                          <td> {{ loop.index}}</td>
                          <td> {{ item['username'] }}</td>
                          <td> {{ item['fullname'] }}</td>
                          <td> {{ item['userid'] }}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.box-body-->
            <div class="box-footer no-border">
              <div class="row">
                <div class="col-xs-6 text-center" style="border-right: 1px solid #f4f4f4">
                  <div> {{ data['usercount'] }} Account</div>
                  <div class="knob-label">Total User Account</div>
                </div>
                <!-- ./col -->
                <div class="col-xs-6 text-center" style="border-right: 1px solid #f4f4f4">
                  <div> {{ data['admincount'] }} Account</div>
                  <div class="knob-label">Total Admin Account</div>
                </div>
              </div>
              <!-- /.row -->
            </div>
          </div>
          <!-- /.box -->

        </section>
        <!-- right col -->
      </div>
      <!-- /.row (main row) -->

    </section>
    <!-- /.content -->
    <script>
      $(function () {
        $('#paymentdata').DataTable({
          'paging': true,
          'lengthChange': false,
          'searching': false,
          'ordering': true,
          'info': true,
          'autoWidth': false
        })
      })
    </script>
{% endblock %}