{% extends 'base-dashboard.html' %}

<!-- Set Title -->
{% block title %} Subscription {% endblock %}
<!-- /Set Title -->


{% block content %}
<script src="https://unpkg.com/vue"></script>
    <!-- Main content -->
    <section class="content">
      <!-- Main row -->
      <div class="row">


        <!-- Left col -->
        <section class="col-lg-5 connectedSortable">

          <!-- Subscription -->
          <div class="box box-primary">
            <div class="box-header">
              <i class="ion ion-clipboard"></i>

              <h3 class="box-title">User Data</h3>

            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <!-- See dist/js/pages/dashboard.js to activate the todoList plugin -->
              
              <table class="table">
                <tr>
                  <th> Username : </th>
                  <th>{{ session['username'] }}</th>
                </tr>
                <tr>
                  <th> Fullname : </th>
                  <th>{{ session['fullname'] }}</th>
                </tr>
                <tr>
                  <th> User Status : </th>
                  <th>
                    {{ session['level'] }}
                    <!-- {% if session['level'] == 1 %}
                      <span class="label bg-green"> Student </span>
                    {% elif session['level'] == 9 %}
                      <span class="label bg-blue"> Administrator </span>
                    {% endif %} -->
                  </th>
                </tr>
              </table>
              
            </div>
          </div>
          <!-- /.box -->

        </section>
        <!-- /.Left col -->

        <!-- Left col -->
        <section class="col-lg-7 connectedSortable">
        
          <!-- Subscription -->
          <div class="box box-primary">
            <div class="box-header">
              <i class="ion ion-clipboard"></i>
        
              <h3 class="box-title">Subscription</h3>
        
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <!-- See dist/js/pages/dashboard.js to activate the todoList plugin -->
        
              <table class="table table-bordered table-striped table-hover">
                <thead>
                  <tr>
                    <th>Modul</th>
                    <th>Status</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% for item in data['userdata'] %}
                  <tr>
                    <td>{{ item['module'] }}</td>
                    <td>
                      {% if item['active'] != 0 %}
                      <span class="label bg-green">Pembayaran sudah Lunas, Module siap digunakan</span>
                      {% else %}
                      <span class="label bg-red"> Data Pembayaran tidak ditemukan</span>
                      {% endif %}
                    </td>
                    
                    <td>
                    {% if item['active'] == 0 %}
                      <form action="/subscribe" method="POST" enctype="multipart/form-data">
                        <input name="module" value="{{ item['module'] }}" hidden>
                        <button v-if="modul{{loop.index}}!=''" type="button" @click="modul{{loop.index}}=''" class="btn btn-danger">Cancel</button>
                        <input v-if="modul{{loop.index}}!=''" type="submit" class="btn btn-primary" value="Kirim">
                        <input v-model="modul{{loop.index}}" name="uploadfile" type="file" class="btn btn-primary" :style="modul{{loop.index}}!='' ? 'visibility: hidden' : 'visibility: visible'">
                      </form>
                    {% else %}
                      <a target="_blank" href="/static/uploads/{{ item['payment'] }}"> <span class="label bg-green">Lihat Bukti Pembayaran</span> </a>
                    {% endif %}
                    </td>
                    
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
        
            </div>
          </div>
          <!-- /.box -->
        
        </section>
        <!-- /.Left col -->

      </div>
      <!-- /.row (main row) -->

    </section>
    <!-- /.content -->

    <script>
      app = new Vue({
        el: "section.content",
        data: {
          modul1: "",
          modul2: "",
          modul3: "",
          modul4: "",
          modul5: "",
          modul6: "",
          modul7: "",
          modul8: "",
          modul9: "",
          modul10: "",
        }
      })
    </script>
{% endblock %}